<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <p>Hi there, my name is Mel and I am the counseller at Life Song Counselling. I am really excited to be able to start opening up my servies to new clients in the Illawarra region.</p>
      </div>
      <div class="col-lg-4 text-center">
        <p>I am a compassionate and empathetic counseller living by the coast, deeply connected to my natural environment and on a life long journey of learning and discovery. I thrive on creating, growing, encouraging and connecting.</p>
      </div>
      <div class="col-lg-4 text-center">
        <p>Registered Counsellor/ Psychotherapist<br>
          Master of Counselling<br>
          Grad Dip Counselling<br>
          Grad Dip Theology<br>
          Bachelor of Teaching (Primary)</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.halaxy.com/book/widget/counsellor/mrs-melissa-newcombe/1354451/1058291/select-time" class="btn btn-lg btn-outline">
          <i class="fa fa-link"></i> Book Mel Here
        </a>
      </div>
    </div>
  </div>
</section>
